/* ==========================================================================
   VARIABLES
   ========================================================================== */
:root {
    /* Colors */
    --soft-blue-bg: #EFF6FF;
    --text-dark: #1F2937;
    --text-medium: #4B5563;
    --primary-blue-dark: #1E40AF;
    --primary-blue: #2563EB;
    --primary-blue-light: #3B82F6;
    --primary-green: #047857;
    --success-green: #10B981;
    --light-gray-bg: #F9FAFB;
    --light-gray-border: #E5E7EB;
    --white: #FFFFFF;
    --danger-red: #EF4444;

    /* Typography */
    --font-family-sans: 'Inter', sans-serif;

    /* Sizing & Spacing */
    --header-height-desktop: 80px;
    --header-height-mobile: 70px;

    /* Borders & Shadows */
    --border-radius-sm: 0.375rem;
    --border-radius-md: 0.5rem;
    --border-radius-lg: 1rem;
    --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}